{% extends "base.html" %}
{% block content %}

    {% if user == "" or role == "TA" %}
        <meta http-equiv="Refresh" content="0; url='/'">
    {% else %}
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container ">
                <a class="navbar-brand" href="/">TA Assignment Application</a>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account' %}">Accounts</a>
                    </li>
                    {% if role == "administrator" or role == "supervisor" or role == "instructor"%}
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'course' %}">Courses</a>
                        </li>
                    {%  endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'lab' %}">Labs</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <span class="navbar-text navbar-dark">
                        <b>Hello, </b>{{ user }}
                    </span>
                    <span class="logout">
                        <form method="post" action="/" class="input-group">
                            {% csrf_token %}
                            <button class="btn btn-secondary btn-block btn-sm" name="form" value="logout" type="submit">Logout</button>
                        </form>
                    </span>
                </ul>
            </div>
        </nav>
        <br>
        {% if role == "administrator" or role == "supervisor" or role == "instructor"%}
            <div class="row">
                <div class="col-3"></div>
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header">Search</div>
                        <div class="card-body">
                            {% if message != "" and message is not None%}
                                <div class="alert alert-danger" role="alert">
                                    {{  message }}
                                </div>
                            {% endif %}
                            <form method="post" action="/course/" class="input-group">
                                <div class="form-group col-lg-12">
                                    {% csrf_token %}
                                    <input type="number" name="course_number" placeholder="Insert Course Number to Search" id="course_number" class="form-control">
                                    <br>
                                    <p><button class="btn btn-primary btn-lg btn-block" name="form" value="view_course" type="submit">Search</button></p>
                                </div>
                            </form>
                            {% if responses.view_course is not None and responses.view_course != "" and responses.view_course != "ERROR" %}
                                <div class="card">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">Number: {{ responses.view_course.number }} </li>
                                        <li class="list-group-item">Course: {{ responses.view_course.name }}</li>
                                        <li class="list-group-item">Instructor: {{ responses.view_course.instructor }}</li>
                                        <li class="list-group-item">TAs: {{ responses.view_course.tas }}</li>
                                    </ul>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-2"></div>
                <div class="col-lg-8">
                    <div class="card">
                        <div class="card-header">Courses</div>
                        <div class="card-body">
                            <table class="table table-bordered table-striped">
                                <thead><tr>
                                    <th style="width: 150px;">Number</th>
                                    <th>Course</th>
                                    <th>Instructor</th>
                                    <th>Ta's</th>
                                </tr></thead>
                                <tbody>
                                {% for i in courses %}
                                    <tr>
                                        <td style="text-transform: capitalize">{{ i.number }}</td>
                                        <td>{{ i.name }}</td>
                                        <td>{{ i.instructor }}</td>
                                        <td>{{ i.tas }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        <br>
        {% if role == "administrator" or role == "supervisor" %}
            <div class="row">
                <div class="col-2"></div>
                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-header">Create Course</div>
                        <div class="card-body">
                            {% if responses.create_course is not None and responses.create_course != "" and responses.create_course != "ERROR"%}
                                <div class="alert alert-success" role="alert">{{  responses.create_course }}</div>
                            {% endif %}
                            <form method="post" action="/course/" class="input-group">
                                <div class="form-group col-lg-12">
                                    {% csrf_token %}
                                    <input type="number" name="course_number" placeholder="Insert Course Number" id="course_number" class="form-control">
                                    <br>
                                    <input type="text" name="course_name" placeholder="Insert Course Name" id="course_name" class="form-control">
                                    <br>
                                    <p><button class="btn btn-primary btn-lg btn-block" name="form" value="create_course" type="submit">Create Course</button></p>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                {% if role == "supervisor" %}
                    <div class="col-lg-4">
                        <div class="card">
                            <div class="card-header">Assign Course</div>
                            <div class="card-body">
                                {% if responses.assign_course is not None and responses.assign_course != "" and responses.assign_course != "ERROR"%}
                                    <div class="alert alert-success" role="alert">{{  responses.assign_course }}</div>
                                {% endif %}
                                <form method="post" action="/course/" class="input-group">
                                    <div class="form-group col-lg-12">
                                        {% csrf_token %}
                                        <input type="number" name="course_number" placeholder="Insert Course Number" id="course_number" class="form-control">
                                        <br>
                                        <select class="custom-select" name="username">
                                            <option selected>Insert Instructor or TA</option>
                                            {% for i in accounts %}
                                                <option value={{ i.name }}>{{ i.name }} ({{ i.role }})</option>
                                            {% endfor %}
                                        </select>
                                        <br><br>
                                        <p><button class="btn btn-primary btn-lg btn-block" name="form" value="assign_course" type="submit">Assign Course</button></p>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        {% endif %}
        <br>
    {% endif %}
{% endblock content %}