{% extends "base.html" %}
{% block content %}

    {% if user == "" %}
        <div class="container">
            <div class="row">
                <div class="col-3"></div>
                <div class="col-6">
                    <div class="card card-signin my-5">
                        <div class="card-body">
                            <div class="panel text-center">
                                <h2>Login</h2>
                                <p>Please enter your username and password</p>
                            </div>
                            {% if message != "" and message is not None%}
                                 <div class="alert alert-primary" role="alert">
                                     {{  message }}
                                 </div>
                             {% endif %}
                            <form method="post" action="/" class="input-group">
                                <div class="form-group col-lg-12">
                                {% csrf_token %}
                                    <label for="username">Username:</label>
                                    <input type="text" name="username" placeholder="Username" id="username" class="form-control">
                                    <br>
                                    <label for="password">Password:</label>
                                    <p><input type="password" name="password" id="password" placeholder="Password" class="form-control"></p>
                                    <p><button class="btn btn-primary btn-lg btn-block" name="form" value="login" type="submit">Login</button></p>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    {% else %}
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container ">
                <a class="navbar-brand" href="/">TA Assignment Application</a>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account' %}">Accounts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'course' %}">Courses</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'lab' %}">Labs</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <span class="navbar-text navbar-dark">
                        <b>Hello, </b>{{ user }}
                    </span>
                </ul>
            </div>
        </nav>


        <br>
        <div class="row">
            <div class="col-3"></div>
            <div class="col-lg-2">
                <div class="card">
                    <div class="card-body">
                        <div class="panel-body text-center">
                            <h1>Welcome</h1>
                            <h3>{{ user }}</h3>
                            <br>
                            <form method="post" action="/" class="input-group">
                                {% csrf_token %}
                                <button class="btn btn-secondary btn-block" name="form" value="logout" type="submit">Logout</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-header">Your Personal Info</div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Username: {{ response.username }}</li>
                        <li class="list-group-item">Role: {{ response.role }}</li>
                        <li class="list-group-item">Name: {{ response.name }} {{ response.lname }}</li>
                        <li class="list-group-item">Email: {{ response.email }}</li>
                        <li class="list-group-item">Address: {{ response.address }}</li>
                        <li class="list-group-item">Office Hours: {{ response.hours }}</li>
                    </ul>
                    <div class="card-footer">
                        <a href="#" class="btn btn-primary">Edit Information</a>
                    </div>
                </div>
            </div>
        </div>
     {% endif %}

{% endblock content %}