{% extends "base.html" %}
{% block content %}

    <!-- Header -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container ">
        <a class="navbar-brand" href="#">TA Assignment Application</a>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Accounts</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Courses</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Labs</a>
            </li>
          </ul>
          <ul class="navbar-nav ml-auto">
              <nav class="navbar navbar-dark">
                  <span class="navbar-text navbar-dark">
                      <b>Hello, </b>{{ user }}
                  </span>
              </nav>
          </ul>
      </div>
    </nav>

    <form method="post" action="/" class="input-group">
        {% csrf_token %}
        <p><input type="text" name="username" placeholder="Username" class="form-control"></p>
        <br>
        <p><input type="password" name="password" placeholder="Password" class="form-control"></p>
        <span class="input-group-btn">
            <button class="btn btn-primary" type="submit">Login</button>
        </span>
    </form>

    <form method="post" action="/" class="input-group">
    {% csrf_token %}
    <span class="input-group-btn">
        <button class="btn btn-secondary" name="logout" type="submit">Logout</button>
    </span>
</form>

    {% if user != None %}
        Hi {{ user }}!
        <p><a href="">logout</a></p>
    {% else %}
        <p>You are not logged in</p>
        <a href="">login</a>
    {% endif %}

{% endblock content %}