{% extends "base.html" %}
{% block content %}

    {% if user == "" %}
        <meta http-equiv="Refresh" content="0; url='/'">
    {% else %}
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container ">
                <a class="navbar-brand" href="/">TA Assignment Application</a>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account' %}">Accounts</a>
                    </li>
                    {% if role == "administrator" or role == "supervisor" or role == "instructor"%}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'course' %}">Courses</a>
                        </li>
                    {%  endif %}
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'lab' %}">Labs</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <span class="navbar-text navbar-dark">
                        <b>Hello, </b>{{ user }}
                    </span>
                    <span class="logout">
                        <form method="post" action="/" class="input-group">
                            {% csrf_token %}
                            <button class="btn btn-secondary btn-block btn-sm" name="form" value="logout" type="submit">Logout</button>
                        </form>
                    </span>
                </ul>
            </div>
        </nav>
        <br>
        {% if role == "administrator" or role == "supervisor" or role == "instructor" or role == "TA"%}
            <div class="row">
                <div class="col-2"></div>
                <div class="col-lg-8">
                    <div class="card">
                        <div class="card-header">Labs</div>
                        <div class="card-body">
                        {% if message != "" and message is not None%}
                            <div class="alert alert-danger" role="alert">
                                {{  message }}
                            </div>
                        {% endif %}
                            <table class="table table-bordered table-striped">
                                <thead><tr>
                                    <th style="width: 150px;">Course Number</th>
                                    <th>Lab Number</th>
                                    <th>Ta</th>
                                </tr></thead>
                                <tbody>
                                {% for i in labs %}
                                    <tr>
                                        <td style="text-transform: capitalize">{{ i.course_number }}</td>
                                        <td>{{ i.lab_number }}</td>
                                        <td>{{ i.ta }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        <br>
        {% if role == "administrator" or role == "supervisor" or role == "instructor"%}
            <div class="row">
            <div class="col-2"></div>
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-header">Create Lab</div>
                    <div class="card-body">
                        {% if responses.create_lab != "" and responses.create_lab is not None and responses.create_lab != "ERROR" %}
                            <div class="alert alert-success" role="alert">{{  responses.create_lab }}</div>
                        {% endif %}
                        <form method="post" action="/lab/" class="input-group">
                            <div class="form-group col-lg-12">
                                {% csrf_token %}
                                <input type="number" name="course_number" placeholder="Insert Course Number" id="course_number" class="form-control">
                                <br>
                                <input type="text" name="lab_number" placeholder="Insert Lab Number" id="lab_number" class="form-control">
                                <br>
                                <p><button class="btn btn-primary btn-lg btn-block" name="form" value="create_lab" type="submit">Create Lab</button></p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            {% if role == "instructor" or role == "supervisor"%}
                <div class="col-lg-4">
                <div class="card">
                    <div class="card-header">Assign Lab</div>
                    <div class="card-body">
                        {% if responses.assign_lab != "" and responses.assign_lab is not None and responses.assign_lab != "ERROR"%}
                            <div class="alert alert-success" role="alert">{{  responses.create_lab }}</div>
                        {% endif %}
                        <form method="post" action="/lab/" class="input-group">
                            <div class="form-group col-lg-12">
                                {% csrf_token %}
                                <input type="number" name="course_number" placeholder="Insert Course Number" id="course_number" class="form-control">
                                <br>
                                <input type="text" name="lab_number" placeholder="Insert Lab Number" id="lab_number" class="form-control">
                                <br>
                                <select class="custom-select" name="username">
                                    <option selected>Insert TA</option>
                                    {% for i in accounts %}
                                        <option value={{ i.name }}>{{ i.name }}</option>
                                    {% endfor %}
                                </select>
                                <br><br>
                                <p><button class="btn btn-primary btn-lg btn-block" name="form" value="assign_lab" type="submit">Assign Lab</button></p>
                            </div>
                        </form>
                    </div>
                </div>
            {% endif %}
        </div>
        {% endif %}
    {% endif %}

{% endblock content %}