{% extends "base.html" %}
{% block content %}

    {% if user == "" %}
        <meta http-equiv="Refresh" content="0; url='/'">
    {% else %}
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container ">
                <a class="navbar-brand" href="/">TA Assignment Application</a>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account' %}">Accounts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'course' %}">Courses</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'lab' %}">Labs</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <span class="navbar-text navbar-dark">
                        <b>Hello, </b>{{ user }}
                    </span>
                </ul>
            </div>
        </nav>


        <br>

        <div class="row">
            <div class="col-3"></div>
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-header">Edit Information</div>
                    <div class="card-body">
                        {% if message != "" and message is not None%}
                            <div class="alert alert-danger" role="alert">
                                {{  message }}
                            </div>
                        {% endif %}
                        <form method="post" action="/settings/" class="input-group">
                            {% csrf_token %}
                            <label for="basic-url">Name</label>
                            <div class="input-group mb-1">
                                 <div class="input-group-prepend"><span class="input-group-text">First Name</span></div>
                                 <input type="text" class="form-control" name="first_name" placeholder="First">
                            </div>
                            <div class="input-group mb-2">
                                 <div class="input-group-prepend"><span class="input-group-text">Last Name</span></div>
                                 <input type="text" class="form-control" name="last_name" placeholder="Last">
                            </div>
                            <div class="input-group mb-3">
                                <button type="submit"  name="form" value="name" class="btn btn-primary">Update</button>
                            </div>
                        </form>
                        <form method="post" action="/settings/" class="input-group">
                            {% csrf_token %}
                            <label for="basic-url">Email</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend"><span class="input-group-text">Email</span></div>
                                <input type="text" class="form-control" name="email" placeholder="email@email.com">
                                <div class="input-group-append">
                                    <button class="btn btn-primary" type="submit" name="form" value="email">Update</button>
                                </div>
                            </div>
                        </form>
                        <form method="post" action="/settings/" class="input-group">
                            {% csrf_token %}
                            <label for="basic-url">Phone</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend"><span class="input-group-text">Phone</span></div>
                                <input type="text" class="form-control" name="phone" placeholder="(414) 000-00000">
                                <div class="input-group-append">
                                    <button class="btn btn-primary" type="submit" name="form" value="phone">Update</button>
                                </div>
                            </div>
                        </form>
                        <form method="post" action="/settings/" class="input-group">
                            {% csrf_token %}
                            <label for="basic-url">Address</label>
                            <div class="input-group mb-1">
                                <div class="input-group-prepend"><span class="input-group-text">Address</span></div>
                                <input type="text" class="form-control" name="street" placeholder="1234 mySreet">
                            </div>
                            <div class="input-group mb-2">
                                 <div class="input-group-prepend"><span class="input-group-text">City</span></div>
                                 <input type="text" class="form-control" name="city" placeholder="Milwaukee">
                            </div>
                            <div class="input-group mb-2">
                                 <div class="input-group-prepend"><span class="input-group-text">State</span></div>
                                 <input type="text" class="form-control" name="state" placeholder="WI">
                            </div>
                            <div class="input-group mb-2">
                                 <div class="input-group-prepend"><span class="input-group-text">Zip Code</span></div>
                                 <input type="text" class="form-control" name="zip" placeholder="53211">
                            </div>
                            <div class="input-group mb-3">
                                <button type="submit"  name="form" value="address" class="btn btn-primary">Update</button>
                            </div>
                        </form>
                        <form method="post" action="/settings/" class="input-group">
                            {% csrf_token %}
                            <label for="basic-url">Office Hours</label>
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <label class="input-group-text">Day of Week</label>
                                </div>
                                <select class="custom-select" name="day_of_week">
                                    <option selected>Day of Week</option>
                                    <option value="sunday">Sunday</option>
                                    <option value="monday">Monday</option>
                                    <option value="tuesday">Tuesday</option>
                                    <option value="wednesday">Wednesday</option>
                                    <option value="thursday">Thursday</option>
                                    <option value="friday">Friday</option>
                                    <option value="saturday">Saturday</option>
                                </select>
                            </div>
                            <div class="input-group mb-2">
                                <div class="input-group-prepend"><span class="input-group-text">Start Time</span></div>
                                <input type="text" class="form-control" name="start" placeholder="1:00PM">
                            </div>
                            <div class="input-group mb-2">
                                <div class="input-group-prepend"><span class="input-group-text">End Time</span></div>
                                <input type="text" class="form-control" name="end" placeholder="3:00PM">
                            </div>
                            <div class="input-group mb-3">
                                <button type="submit"  name="form" value="office" class="btn btn-primary">Add Time</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

     {% endif %}

{% endblock content %}